{% extends "base.html" %}
{% block conteudo %}
<div>
    <input class="form-control" type="text" name="search_game">
    <button type="submit" class="btn btn-primary ">Buscar</button>
</div>
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
    {% for jogo in jogos %}
    <tr>
        <input type="hidden" {{ jogo.id }} >
        <td> {{ jogo.nome }} </td>
        <td> {{ jogo.categoria }} </td>
        <td> {{ jogo.console }} </td>
        <td><a href=" {{ url_for('deletar', id=jogo.id) }} ">X</a></td>
        <td><a href=" {{ url_for('update', id=jogo.id) }} ">Edit</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <h6><a href=" {{ url_for('home') }} ">Home</a></h6>
    <h6><a href=" {{ url_for('cadastrar_jogo') }} ">Cadastrar jogos</a></h6>
</div>
{% endblock %}
